# Database Configuration
MONGO_URI=your_mongodb_connection_string

# Admin Authentication
ADMIN_PASSWORD=your_admin_password_here

# Telegram Notification Configuration
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Analytics & Monitoring
NEXT_PUBLIC_GA_ID=

# External Services
PEXELS_API_KEY=your_pexels_key_here
